.image-container
  %img.speech-bubble{src: "https://s3.amazonaws.com/linda-web/speech_bubble.png"}
  %img.middle-image{src:"https://s3.amazonaws.com/linda-web/home_image.jpg"}
  .intro-text
    HAPPY BIRTHDAY!!!
    %br
    SITE COMING SOON