.text-overlay
  .text-details
    Happy Birthday!!!!
    %br
    Website Coming Soon
  .tako-image
    %img{src:"https://s3.amazonaws.com/linda-web/tako_cat.jpg"}
  .pt-image
    %img{src:"https://s3.amazonaws.com/linda-web/pt_dog.jpg"}