
body{
  background: url("https://s3.amazonaws.com/linda-web/home_image.jpg");
  background-size: 20% ;
}

.text-overlay{
  position: absolute;
  left: 50%;
  top: 50%;
  //margin: auto;
  background: rgba(255,255,255,0.7);
  width: 50%;
  padding-bottom: 20px;
  transform: translate(-50%, -50%);
}

.text-details{
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
}

.tako-image{
  margin: auto;
  width: 50%;
  img {
    width: 100%;
  }
}