img{
  width: 50%;
}
.image-container{
  position: relative;
}
.middle-image {
  float: left;
}
.intro-text{
  position: absolute;
  font-size: 45px;
  top:415px;
  right: 250px;
}
.speech-bubble{
  position: absolute;
  top:260px;
  right: 200px;
}